@font-face {
    font-family: 'Gotham Pro';
    src: local('GothamPro-Bold'),
        url('../fonts/GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('GothamPro-Light'),
        url('../fonts/GothamPro-Light.woff2') format('woff2'),
        url('../fonts/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('GothamPro'),
        url('../fonts/GothamPro.woff2') format('woff2'),
        url('../fonts/GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
  color: #221f1f;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.site-header {
  color: #fff;
  background-color: #27273e;
}

.site-header__info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;

  padding-top: 15px;
  padding-bottom: 15px;
}

.logo__image {
  width: 99px;
  height: 51px;
}

.site-header__phone {
  margin: 0;
  /*margin-bottom: 5px;*/

  font-family: "Gotham Pro", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.site-header__schedule {
  margin: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
}

.site-header__schedule a {
  color: #ec1e79;
  text-decoration: underline;

}

.site-header__schedule a:hover {
  text-decoration: none;
}

.hero {
  min-height: 359px;

  background-color: #27273e;
  background-image: url("../img/bg_hero.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.columns {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;

  padding-top: 70px;
  padding-bottom: 70px;
}

.columns__left {
  width: 160px;
}

.menu__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.menu__item {
  margin-bottom: 40px;
}

.menu__link {
  position: relative;

  padding-left: 36px;

  font-family: "Gotham Pro", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;

  color: #ec1e79;
}

.menu__link:hover {
  color: #000;
}

.menu__link::before {
  position: absolute;
  left: 0;
  top: -1px;

  content: '';

  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
}

.menu__link--main::before {
  left: 3px;
  background-image: url("../img/icon_main.png");
}

.menu__link--testimonials::before {
  top: -3px;

  background-image: url("../img/icon_testimonials.png");
}

.menu__link--tariffs::before {
  left: 1px;
  top: -2px;

  background-image: url("../img/icon_tariffs.png");
}

.menu__link--current {
  text-decoration: underline;

  color: #000;
}

.columns__right {
  width: 880px;
}

.features {
  margin-bottom: 90px;
}

.section-heading {
  margin: 0;
  margin-bottom: 60px;

  font-family: "Gotham Pro", Arial, sans-serif;

  font-size: 49px;
  font-weight: 700;
  line-height: 38px;
}

.features__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;

  font-family: "Gotham Pro", Arial, sans-serif;
  text-align: center;
}

.features__item {
  width: 250px;
  padding-left: 25px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.features__title {
  position: relative;

  padding-top: 90px;
  margin: 0;
  margin-bottom: 25px;

  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.88px;

  color: #212121;
}

.features__title::before {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  content: "";
  width: 68px;
  height: 68px;

  background-color: #27273e;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.features__title--unique::before {
  background-image: url("../img/icon_unique.png");
}

.features__title--premium::before {
  background-image: url("../img/icon_premium.png");
}

.features__title--luxury::before {
  background-image: url("../img/icon_luxury.png");
}

.features__description {

  font-weight: 400;
}

.features__details-list {
  font-weight: 400;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: left;
}

.features__details-item {
  position: relative;

  padding-left: 40px;
}

.features__details-item::before {
  position: absolute;
  left: 0;
  top: 0;

  content: "•";

  color: #c36;
}

.news__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;

  margin-bottom: 56px;
}

.news__image {
  width: 160px;
  height: 160px;
  object-fit: cover;

  border-radius: 50%;

  transition: opacity 0.3s ease, box-shadow 0.3s ease;
}

.news__image-link:hover .news__image {
  opacity: 0.8;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.news__item-info {
  width: 686px;
}

.news__item-date {
  margin: 0;
  margin-bottom: 5px;

  color: #656464;
  font-size: 14px;
  line-height: 21px;
}

.news__item-title {
  margin: 0;
  margin-bottom: 19px;

  line-height: 21px;
}

.news__item-title a {
  color: #221f1f;
}

.news__item-text p {
  margin: 0;
}

.news__pagination {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.news__pagination-description {
  margin-right: 20px;
  font-size: 14px;
  line-height: 21px;

  color: #656464;
}

.news__pagination-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;

  padding: 0;
  margin: 0;

  list-style: none;
}

.news__pagination-item {
  margin-right: 15px;

  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.news__pagination-item a {
  color: #221f1f;
  transition: color 0.3s ease;
}

.news__pagination-item a:hover {
  color: #ec1e79;;
}

.news__pagination-item::last-child {
  margin-right: 0;
}

.news__pagination-item--prev a {
  opacity: 0.3;
}

.news__pagination-item--current a {
  padding: 7px 10px;

  border-radius: 3px;
  color: #fff;
  background-color: #27273e;
}

.site-footer {
  padding-top: 14px;
  padding-bottom: 12px;

  color: #fff;
  background-color: #27273e;
}

.site-footer__info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.site-footer__author {
  font-family: "Gotham Pro", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.site-footer__social {
  font-family: "Gotham Pro";
  font-size: 14px;
  font-weight: 700;
}

.site-footer__social p {
  margin: 0;
  margin-bottom: 10px;
}

.site-footer__social-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  padding: 0;
  margin: 0;

  list-style: none;
}

.site-footer__social-item {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;

  background-color: #d4d4d8;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.site-footer__social-item:hover,
.site-footer__social-item:focus {
  background-color: #ec1e79;
}

.site-footer__social-item--current {
  background-color: #ec1e79;
}

.site-footer__social-item--vk {
  background-image: url("../img/icon_vk.png");
}

.site-footer__social-item--fb {
  background-image: url("../img/icon_fb.png");
}

.site-footer__social-item--gp {
  background-image: url("../img/icon_gp.png");
}

.site-footer__social-item--tw {
  background-image: url("../img/icon_tw.png");
}

.site-footer__social-item--mail {
  background-image: url("../img/icon_mail.png");
}
